body {
  background-color: #87d286;
  min-width: 225px;
}

.wrap-page {
  width: 50%;
  margin: 0 auto;
}

.quote-block {
  margin-top: 30%;
  margin-bottom: 15px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px 0px;
}

h1 {
  margin: 0;
  font-size: 24px;
  border: solid 1px #888;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.quote {
  font-size: 26px;
  padding: 10px;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  border: 2px solid #888;
  color: #000;
  text-decoration: none;
  padding: 7px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}

.share {
  margin-left: 20px;
}

.author-block {
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}

.author-twitter {
  font-size: 18px;
}

.copyright {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 768px) {
  .wrap-page {
    width: 95%;
  }
  .quote-block {
    text-align: center;
  }
}
